<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Sales_Quote::quote" title="Sales Quote" sortOrder="100">
                        <resource id="Sales_Quote::view_quote" title="View Quote" sortOrder="0"/>
                        <resource id="Sales_Quote::create_order" title="Create Order" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>