<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch_sales_quote">
		<observer name="sales_quote_acl"
				  instance="Sales\Quote\Observer\Sales\Quote\AdminAclObserver"/>
	</event>
</config>