<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sales_Quote::quote_manage" title="Quotes Management" module="Sales_Quote" sortOrder="10" parent="Magento_Sales::sales" resource="Sales_Quote::quote_manage"/>
        <add id="Sales_Quote::quote" title="Quotes" module="Sales_Quote" sortOrder="10" action="sales_quote/quote" resource="Sales_Quote::quote" parent="Sales_Quote::quote_manage"/>
    </menu>
</config>
